body {
  color: white;
  margin: 0;
  background-color: #1c2022;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}

form {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App img {
  width: 50%;
  max-width: 500px;
}

.App input {
  font-weight: 600;
  color: #40a8f3;
  width: 50vw;
  border-radius: 30px;
  outline: none;
  border: none;
  height: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  max-width: 250px;
}

.App::placeholder {
  color: rgba(133, 133, 133, 0.842);
  font-weight: 600;
}

.clear-button {
  width: 20vw;
  margin-top: 32px;
  background-color: #c40a0a;
  border: none;
  height: 28px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  outline: none;
  max-width: 100px;
  border-radius: 30px;
  cursor: pointer;
}

.button {
  width: 20vw;
  margin-top: 32px;
  background-color: #40a8f3;
  border: none;
  height: 28px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  outline: none;
  max-width: 100px;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #5fb2ee;
}
